@model IEnumerable<mobile.Models.Catalog>

@{
  ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
  <a asp-action="Create">Create New</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.marca)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.nume)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.prenume)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.nota1)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.nota2)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.marca)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.nume)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.prenume)
        </td>

        <td>
          @if (item.nota1 != 0)
          {
            @Html.DisplayFor(modelItem => item.nota1)
          }
        </td>
        <td>
          @if (item.nota2 != 0)
          {
            @Html.DisplayFor(modelItem => item.nota2)
          }
        </td>
        <td>
          <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
          <a asp-action="Details" asp-route-id="@item.id">Details</a> |
          <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
        </td>
      </tr>
    }
  </tbody>
</table>
